@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

header
{
  width: 70%;
  height: auto;
  border-bottom: solid 1px black;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 56px;
  margin-top: 30px;
}

input[type=text],
input[type=email],
textarea
{
  padding: 14px 10px;
  width: 20vw;
  outline: none;
  text-align: center;
  border-radius: 24px;
  transition: 0.25s;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.hpform
{
  margin: 0 auto;
}

.buttonsend {
  width: 200px;
  height: 42px;
  border-radius: 18px;
  background-color: #187cc2;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  margin-top: 25px;
}
.buttonsend:hover {
  background-color: transparent;
  border-color: black;
  color: black;
  transition: all .1s ease-in-out;
}
