<div class="offer-bg"></div>
<header>
  <h1>Oferty przygotowane specjalnie dla Ciebie!</h1>
</header>
<div id="cards">
  <div class="card">
    <img src="../../assets/img/attr1.jpg" alt="">
    <h3>Oferta 1</h3>
    <p>Opis</p>
    <button class="btnselect">Więcej</button>
  </div>

  <div class="card">
    <img src="../../assets/img/attr2.jpg" alt="">
    <h3>Oferta 2</h3>
    <p>Opis</p>
    <button class="btnselect">Więcej</button>
  </div>

  <div class="card">
    <img src="../../assets/img/attr3.jpg" alt="">
    <h3>Oferta 3</h3>
    <p>Opis</p>
    <button class="btnselect">Więcej</button>
  </div>
</div>
